<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/indexstyle.css' />
    <link href='/javascripts/main-index.js/' />
    <meta charset="utf-8">
    
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  </head>
  
<body>
    <header class="header-fixed">
  
        <div class="header-limiter">
  
          <h1><a href="#">universal<span>DAPPS</span></a></h1>
  
          <nav>
          <a href="/">Home</a>
          <a href="http://localhost:3000/">EVIDENCE UPLOADING PORTAL</a>
          <a href="/notes">About</a>
          </nav>
        </div>
  
      </header>
  
    <!-- MAIN CONTENT HERE -->
  
  <section class="hero">
    <div class="hero-content">
  
      <h1>Digital Evidence Protection Service</h1>
      <h3>"Prevention is Better than Cure!"</h3>
    </div>
  </section>
  
  
  
    <main>
      <div class="container">
        GUIDELINES TO USE
      </div>
    </main>
  
  
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    <a href="/">Home</a>
    <a href="/lectures">Lectures</a>
    <a href="/notes">Notes</a>
    <a href="/contact">Contact</a>
  </div>
  
  <footer>
    <div class="row inner">
  
      <span class="meta">
        <ul class="links">
          <a href="/">Contributed by : </a>
          <a href="https://github.com/shodowshot-x">Ujjwal Sharma</a>
          <a href="https://github.com/shodowshot-x">Sanchit Bansal</a>
        </ul>
        <ul class="icons">
    
          <li>
            <a class="fab fa-2x fa-youtube-play" href="https://www.youtube.com/"></a>
          </li>
          <li>
            <a class="fab fa-2x fa-linkedin-square" href="https://www.linkedin.com/aalokyadav"></a>
          </li>
        </ul>
      </span>
    </div>
  </footer>
  <!--
  Do not remove below content OR site will break.
  -->

  </body>
  
</html>
